<div class="wrapper">
    {{>_sidemenu}}
    <div id="content">
        <div class="row">
            <div class="col">
                <div class="jumbotron jumbotron-fluid">
                    <div class="container">
                        <form>
                            <div class="row">
                                <div class="col">
                                    <input type="text" id="searchKey" class="form-control"
                                        placeholder="Search by Order ID / User ID">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <!-- Print order history table or by selected row -->
            <div class="col-12">
                {{#if order}}
                <table class="table table-hover">
                    <div class="pb-3 d-flex flex-row-reverse">
                        <a href="#" class="btn btn-primary">Print Selected</a>
                    </div>
                    <thead>
                        <tr>
                            <th scope="col-2">Order ID</th>
                            <th scope="col-2">User ID</th>
                            <th scope="col-4">Transaction Date</th>
                            <th scope="col-1"></th>
                            <th scope="col-3"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each order}}
                        <tr>
                            <td>{{this.order_id}}</td>
                            <td>{{this.user_id}}</td>
                            <td>{{this.date}}</td>
                            <td>
                                <a href="/admin/order/{{this.order_id}}" style="color: rgb(51, 153, 255);">View</a>
                            </td>
                            <td>
                                <input type="checkbox">
                            </td>
                        </tr>
                        {{/each}}
                    </tbody>
                </table>
                {{else}}
                <h3>There is not order.</h3>
                {{/if}}
            </div>
        </div>
    </div>
</div>
