<div class="wrapper">
    {{>_sidemenu}}
    <div id="content">
        <h3>My Business Target</h3>
        <br>
        <div class="row">
            <div class="col border rounded shadow-sm m-1">
                <p class="panel-title">Current</p>
                <p class="panel-current">S$ {{current}}</p>
            </div>
            <div class="col border rounded shadow-sm m-1">
                <p class="panel-title">Fulfilled</p>
                <p class="panel-current">S$ {{fulfilled}} </p>
            </div>
            <div class="col border rounded shadow-sm m-1">
                <p class="panel-title">Deficit</p>
                <p class="panel-current">S$ {{deficit}} </p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col border rounded shadow-sm m-1">
                <h4>Set Product Sales Volume</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th class="col">Name</th>
                            <th class="col">Price(S$)</th>
                            <th class="col">Current Quota</th>
                            <th class="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#if products}}
                        {{#each products}}
                        <tr>
                            <td class="col">{{name}}</td>
                            <td class="col">{{price}}</td>
                            <td class="col">{{current_quota}}</td>
                            <td class="col">
                                <form class="form-inline" action="/analytics/update-target/{{id}}" method="post">
                                    <input type="number" class="form-control" name="newTarget" id="newTarget">
                                    <button type="submit" class="btn btn-block btn-primary">Update</button>
                                </form>
                            </td>
                        </tr>
                        {{/each}}
                        {{else}}
                        {{/if}}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>